body {
  font-family: Arial, sans-serif;
  background: #0f0f0f;
  color: white;
  margin: 0;
}

.container {
  max-width: 400px;
  margin: auto;
  padding: 20px;
}

input {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 6px;
  border: none;
}
