body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #111;
  color: white;
}

.container {
  max-width: 420px;
  margin: auto;
  padding: 20px;
}

input,
select {
  width: 100%;
  padding: 10px;
  margin: 6px 0;
  border-radius: 6px;
  border: none;
}

button {
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  border: none;
  border-radius: 6px;
  background: #444;
  color: white;
  cursor: pointer;
}

button:hover {
  opacity: 0.8;
}

.guardar {
  background: #e53935;
}

.pedido {
  background: #222;
  margin-top: 12px;
  padding: 10px;
  border-radius: 6px;
}
