body {
  font-family: Arial, sans-serif;
  background: #f2f2f2;
}

.contenedor {
  max-width: 600px;
  margin: auto;
  background: white;
  padding: 20px;
  border-radius: 12px;
}

input, select {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
}

.fila {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
  gap: 5px;
}

button {
  padding: 10px;
  margin-top: 10px;
}

.alerta {
  color: red;
  font-weight: bold;
}
